/*========================================================================
Burger
==========================================================================*/

// -----------------  var  -----------------

$w: 50px;
$h: 50px;
$line: 4px;
$line_m: 15px;


// -----------------  mixin  -----------------

// размеры
@mixin size($w, $h) {
	width: $w;
	height: $h;
}

// основной цвет и его прозрачность 
@mixin color_main($opacity){
	background-color: rgba(77, 196, 255, $opacity);
}

// full flex
@mixin flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}


/*-----------------  Template  -----------------*/

/*  Убрать возможность выдиление объектов и картинок  */
.unselectable {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Пульсация при ЛКМ */
.pulse {
	position: absolute;
	border-radius: 50%;
	@include color_main(1);
	transform: scale(0);
	animation: pulse 500ms ease-out;
}

/* Подгон для изображений */
.icon-img {
	@include size(100%, 100%);
}

/*-----------------  Main  -----------------*/

.burger {
	position: relative;
	display: flex;
	cursor: pointer;
	@include size($w, $h);

	&:hover .burger__background { opacity: 1; }

	&.active .body__lines {
		&::before {
			top: 45%;
			transform: rotate(45deg);
			transition: all 500ms ease 0s;
		}
		&::after {
			bottom: 45%;
			transform: rotate(-45deg);
			transition: all 500ms ease 0s;
		}
	}

	&.active .line {
		transform: scale(0);
		transition: all 500ms ease 0s;
	}
}

/* bady */

.burger__body {
	position: absolute;
	@include size(100%, 100%);
	pointer-events: none;
}

.burger__semi-circle.active { animation: semi-circle_active 400ms ease-out forwards; }
.burger__semi-circle.none { animation: semi-circle_none 400ms ease-out forwards; }

.body__lines {
	position: absolute;
	@include flexbox();
	@include size(100%, 100%);

	&::before { top: 30%; }
	&::after { bottom: 30%; }
	&::before, &::after {
		content: '';
		position: absolute;
		width: 60%;
		height: $line;
		border-radius: 20px;
		@include color_main(1);
		transition: all 300ms ease 0s;
	}
}

.line {
	width: 60%;
	height: $line;
	border-radius: 20px;
	@include color_main(1);
	transition: all 300ms ease 0s;
}

/* background */

.burger__background {
	position: relative;
	align-self: center;
	margin: 0 auto;
	overflow: hidden;
	@include size(85%, 85%);
	border-radius: 50%;
	@include color_main(0.1);
	opacity: 0;
	transition: 100ms ease 0ms;
}

/*-----------------  Keyframe  -----------------*/

@keyframes pulse {
	100% {
		@include color_main(0.7);
		opacity: 0;
		transform: scale(2);
	}
}

@keyframes semi-circle_active {
	70% {
		transform: rotate(200deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes semi-circle_none {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}