body {
	margin: 0px;
	padding: 0px;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-color: #393939;
}

.conteiner {
    display: flex;
    padding: 0 15px 0 15px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}